/* PULSE */
@keyframes textPulseGreen {
  0% {
    transform: scale(1);
    color: inherit;
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    color: #68c3a3;
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    color: inherit;
    opacity: 1;
  }
}
.pulse-green-active {
  animation: textPulseGreen 0.4s ease-in-out 3;
  color: #68c3a3 !important;
}

/* PULSE MOTIVATION */
@keyframes textPulseOrange {
  0% {
    transform: scale(1);
    color: inherit;
    opacity: 1;
  }
  40% {
    transform: scale(1.5);
    color: #ff5c00;
    opacity: 1;
  }
  60% {
    transform: scale(0.9);
    color: #ff5c00;
    opacity: 0.9;
  }
  80% {
    transform: scale(1.4);
    color: #ff5c00;
  }
  100% {
    transform: scale(1.3);
    color: #ff5c00;
    opacity: 1;
  }
}
.pulse-orange-active {
  animation: textPulseOrange 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  color: #ff5c00 !important;
}
