/* PULSE */
@keyframes textPulseGreen {
  0% {
    transform: scale(1);
    color: inherit;
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    color: #68c3a3;
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    color: inherit;
    opacity: 1;
  }
}

.pulse-green-active {
  animation: textPulseGreen 0.4s ease-in-out 3;
  color: #68c3a3 !important;
}
