name: Deploy to Server

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Deploy project with SSH
        uses: easingthemes/ssh-deploy@v5.0.0
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          # Delete from the server the files that are no longer in your code (cleanup)
          ARGS: "-avz --delete"
          # All current file
          SOURCE: "."
          # Server IP address
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          REMOTE_PORT: ${{ secrets.SSH_PORT }}
          # Exact location to place code (/home/<your_user>/public_html)
          TARGET: ${{ secrets.TARGET_PATH }}
          # Avoids sending git configuration files on server
          EXCLUDE: "/.github/, /.git/"
